.promo__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
}

.promo__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
}

.promo__button {
    height: 60px;
}

.promo__image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 59px;
    padding: 50px 10px;
}

.promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}