<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></section>
    </header>
    <main class="main">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.features-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML"
            data-hx-get="index.organize-promo-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.promo-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.lightning-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.partners-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.pricing-section.partial.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.contacts-section.partial.html">
        </section>


    </main>
    <footer class="footer">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
        </section>
        <script type="module" src="js/index.js"></script>
</body>

</html>